body {
    background-color:lightgrey;
  }
  
  html {
    height: 100%;
  }
  
#map {
  height: 500px;
}
.map_container {
  background:lightgrey;
}
.legend {
  padding: 6px 8px;
  font: 15px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:black;
  text-align: justify;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.header-container{
  background-color:white;
}
p{
font-family: 'Roboto Slab', serif;
}
.landing-h1{
  padding-top: 5%;
  font-family: 'Roboto Slab', serif;
  color:cornflowerblue;
}
.comparison-h1{
  padding-top: 5%;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  color:cornflowerblue;
}
.navbar{
  font-family: 'Roboto Slab', serif;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 50px;
  font-size: 28px;
  line-height: 20px;
  margin: 0 0 0 0;
  color: aliceblue;
  background-color:cornflowerblue;
}
.white{
  background-color: white;
}

.landing-fig-lg { 
  width: 45%;
}
.landing-fig-sm {
  width: 95%;
}

.sub_header {
  text-align: center;
  font-size: 18px;
  margin: 0;
  color: cornflowerblue;
}

.hr-footer {
  border: 0;
  height: 5px;
  background-color: cornflowerblue;
}


@media screen and (max-width:768px){
  .primary-content{
      float: left;
      width:50%;
      display: none;
  }
}