body {
    background-color:lightgrey;
  }
  
  html {
    height: 100%;
  }
  
#map {
  height: 300px;
}
/* .container{
  padding: 0px 0px 15px 0px;
} */
.map_container {
  background:lightgrey;
}
.legend {
  padding: 6px 8px;
  font: 15px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:black;
  text-align: justify;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.table {
  font-size: 10px;
}

.header-container{
  background-color:white;
}
.chart_container{
  height: 800;
}
p{
font-family: 'Roboto Slab', serif;
}
.landing-h1{
  padding-top: 5%;
  font-family: 'Roboto Slab', serif;
  color:cornflowerblue;
}
.comparison-h1{
  padding-top: 5%;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  color:cornflowerblue;
}
.navbar{
  font-family: 'Roboto Slab', serif;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 50px;
  font-size: 28px;
  line-height: 20px;
  margin: 0 0 0 0;
  color: aliceblue;
  background-color:cornflowerblue;
}
.white{
  background-color: white;
}

.landing-fig-lg { 
  width: 45%;
}
.landing-fig-sm {
  width: 95%;
}

.sub_header {
  text-align: center;
  font-size: 18px;
  margin: 0;
  color: cornflowerblue;
}

.hr-footer {
  border: 0;
  height: 5px;
  background-color: cornflowerblue;
}

.hr-other {
  border: 0;
  height: 3px;
  background-color: tomato;
}

.btn {
  padding: 5px 60px;
  font-size: 30px;
  color: cornflowerblue;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
}

/* Box chart CSS */

.boxchart{
  text-align: center;
}
.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}
/* end of Box chart CSS */

/* Bullet CSS */

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

/* end of Bullet CSS */

@media screen and (max-width:768px){
  .primary-content{
      float: left;
      width:50%;
      display: none;
  }
}